body {
    width: 1280px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D0942;
}

.background {
    background-image: url('/static/image/pg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

header {
    position: relative;
    display: flex;
    width: 100%;
    height: 16%;
    border-bottom: 0.1px solid #045050;
}

header .logo {
    position: absolute;
    width: 8%;
    display: flex;
    transform: translate(80%, 30%);
}

header .logo img {
    width: 100%;
}

header .toolbar {
    width: 70%;
    display: flex;
    margin-left: 200px;
}

header .toolbar .navbar {
}

.toolbar {
    padding-left: 10px;
}

.toolbar ul li {
    margin-left: 40px;
}

.toolbar a {
    color: white;
}

.toolbar a:hover {
    color: aquamarine;
}

.navbar-nav .nav-item:last-child .nav-link {
    border: 1px solid black;
    border-radius: 50%;
    width: 150%;
    height: 100%;
    text-align: center;
    text-align-all: center;
    background: linear-gradient(to bottom, #ea70d6, transparent);
}

.navbar-nav .dropdown-item {
    color: #0D0942;
    font-weight: bold;
}

/* Main Section */
main {
    display: flex;
    width: 100%;
    height: 84%;
}

.controller_main {
    display: flex;
    width: 86%;
    margin-left: 100px;
    padding-top: 50px;
}

.controller_film {
    width: 100%;
}

.film {
    color: white;
    width: 100%;
    transform: translate(30%, 35%);
}

.film h3 {
    font-size: 34pt;
}

.date_Time img {
    width: 30px;
}

.date_Time {
    display: flex;
    color: white;
    padding-top: 10px;
}

.show {
    padding-right: 150px;
}

.decsFilm {
    padding-left: 20px;
    color: #e8d8d8;
    font-weight: 400;
}

nav {
    background-color: #0D0942;
}

/* Cinema Section */
.controller_cinema {
    display: flex;
    background-color: #171E63;
}

.cinema {
    display: flex;
    background-color: #171E63;
    color: olivedrab;
    padding: 10px 0 10px 50px;
}

.cinema img {
    width: 50px;
}

.cinema .dropdown {
    list-style: none;
    padding-left: 30px;
    padding-top: 12px;
}

/* Showtime Section */
.showtime .column_left .dateTime img {
    width: 50px;
}

.showtime .column_right img {
    width: 350px;
    height: 450px;
}

.container_showtime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 86%;
    margin-left: 60px;
    padding-top: 50px;
}

.showtime {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column_left {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.container_dateTime {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
    margin-top: 20px;
}

.dateTime {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #171ea1;
    margin-bottom: 20px;
    height: auto;
    justify-content: center;
}

.date {
    display: flex;
    list-style: none;
}

.date img {
    width: 20px;
}

.dateShow {
    width: 40%; /* Adjust the width as needed */
    background-color: white;
}

.start {
    width: 60%; /* Adjust the width as needed */
    color: white;
}

/* Add more styles as needed */
