body {
    width: 1280px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D0942;
}

.background {
    background-image: url('/static/image/pg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

header {
    position: relative;
    display: flex;
    width: 100%;
    height: 16%;
    border-bottom: 0.1px solid #045050;
}

header .logo {
    position: absolute;
    width: 8%;
    display: flex;
    transform: translate(80%, 30%);
}

header .logo img {
    width: 100%;
}

header .toolbar {
    width: 70%;
    display: flex;
    margin-left: 200px;
}

header .toolbar .navbar {
}

.toolbar {
    padding-left: 10px;
}

.toolbar ul li {
    margin-left: 40px;
}

.toolbar a {
    color: white;
}

.toolbar a:hover {
    color: aquamarine;
}

.navbar-nav .nav-item:last-child .nav-link {
    border: 1px solid black;
    border-radius: 50%;
    width: 150%;
    height: 100%;
    text-align: center;
    text-align-all: center;
    background: linear-gradient(to bottom, #ea70d6, transparent);
}

.navbar-nav .dropdown-item {
    color: #0D0942;
    font-weight: bold;
}

/* Main Section */
main {
    display: flex;
    width: 100%;
    height: 84%;
}

.controller_main {
    display: flex;
    width: 86%;
    margin-left: 100px;
    padding-top: 50px;
}

.controller_film {
    width: 100%;
}

.film {
    color: white;
    width: 100%;
    transform: translate(30%, 35%);
}

.film h3 {
    font-size: 34pt;
}

.date_Time img {
    width: 30px;
}

.date_Time {
    display: flex;
    color: white;
    padding-top: 10px;
}

.show {
    padding-right: 150px;
}

.decsFilm {
    padding-left: 20px;
    color: #e8d8d8;
    font-weight: 400;
}

section {
    padding-bottom: 20px;
    background-color: #0D0942;
}

section .selectedCinema
{
    background-color: #171E63 ;
    color: white;
    font-weight: bolder;
    border: 1px solid #171E63;
}

/* Cinema Section */
.controller_cinema {
    display: flex;
    background-color: #171E63;
}

.cinema {
    display: flex;
    background-color: #171E63;
    color: olivedrab;
    padding: 10px 0 10px 50px;
}

.cinema img {
    width: 50px;
}

.cinema .dropdown {
    list-style: none;
    padding-left: 30px;
    padding-top: 12px;
}

/* Showtime Section */
/*.showtime .column_left .dateTime img {*/
/*    width: 50px;*/
/*}*/

/*.showtime .column_right img {*/
/*    width: 350px;*/
/*    height: 450px;*/
/*}*/

.container_showtime {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin-left: 60px;
    padding-top: 50px;
}

.showtime {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column_left {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.column_right {
    display: flex;
    width: 35%;
}

.column_right img {
    width: 100%;
    height: auto;
}

.container_dateTime {
    width: 100%;
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
}

.dateTime {
    width: 95%;
    display: flex;
    align-items: center;
    background-color: #022D54;
    margin-bottom: 10px;
}

.date-time-container {
    display: flex;
    align-items: center;
}

.date-time-container img {
    margin-right: 5px;
}

.dateShow, .start {
    color: white;
}

.dateShow
{
    padding-right: 20px;
    border-right: 1px solid #0D0942;
}
.dateShow img
{
    width: 30px;
}
.start{
    padding-left: 10px;
}
.start a
{
    text-decoration: none;
    color: white;
    padding-right: 5px;
}
footer {
    display: flex;
    flex-direction: column; /* Chuyển sang sắp xếp theo chiều dọc */
    background-color: #252222;
    width: 100%;
    align-items: center;
    padding-top: 20px;
}

.top {
    float: left;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #0D0942 ;
}

.top .column {
    float: left;
    display: flex;
    width: 25%;
    margin-bottom: 30px;
    margin-left: 55px;

}
.top .column li
{
    list-style: none;
}
.top .column h3
{
    font-size: 14pt;
    color: white;
    font-weight: bold;
}
.top .column h4
{
    font-size: 14pt;
    color: grey;

}
.top .column img
{
    width: 80%;
    height: 40pt;
}
.bottom {
    padding-top: 20px;
    float: left;
    width: 100%;
    align-items: center;
}
.bottom ul
{

    display: flex;
}
.bottom ul li
{
    color: gray;
    width: 33.33%;
    list-style: none;
}
.bottom ul li img
{
    width: 50%;

}




