/* CSS chung */
body {
    width: 100%;
    /*height: 100vh;*/
    font-family: Arial, sans-serif;
    background-color: #0D0942;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0942;
    height: 12%;
    border-bottom: 1px solid #045050;
    padding: 0 20px;
}

header .logo {
    width: 8%;
    margin-left: 6%;
}

header .logo img {
    width: 100%;
}

.container_toolbar {
    width: 80%;
}

.toolbar {
    width: 100%;
}

.toolbar nav.navbar {
    background-color: #0D0942;
}

.toolbar ul.navbar-nav {
    width: 100%;
    list-style: none;
    /*padding: 100px;*/
    margin: 0;
    display: flex;
    /*justify-content: center;*/
}

.toolbar ul.navbar-nav li.nav-item {
    width: 40%;
    /*margin-left: 20px;*/
    display: flex;
}

.toolbar ul.navbar-nav li.nav-item:last-child {
    border: 1px solid black;
    border-radius: 50%;
    width: 50%;
    height: 100%;
    text-align: center;
    background: linear-gradient(to bottom, #ea70d6, transparent);
}

.toolbar a.nav-link {
    width: 100%;
    display: flex;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.toolbar a.nav-link:hover {
    color: aquamarine;
}

.nav-item.dropdown {
    position: relative;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .greeting {
    color: white;
    margin-right: 10px;
}

.user-info .username {
    color: white;
    font-weight: bold;
    margin: 0;
}

.arrow-icon {
    margin-left: 5px;
    color: white;
}

.dropdown-menu {
    display: none;
    top: 90%;
    position: absolute;
    background-color: #181065;
    list-style-type: none;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
}

.dropdown-item {
    color: #0D0942;
    font-weight: bold;
    transition: color 0.3s;
}

.dropdown-item:hover {
    color: white;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.sub-menu {
    display: none;
    top: 90%;
    position: absolute;
    background-color: #181065;
    list-style-type: none;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
}
.sub-menu-item {
    text-decoration: none;
    color: white;
    margin-right: 10px; /* Thêm khoảng cách 10px về bên phải của mỗi mục */
    padding: 10px; /* Tạo khoảng trống bên trong mục để tạo kích thước phản hồi cho hover */
    transition: color 0.3s; /* Tạo hiệu ứng chuyển đổi màu cho mục khi trỏ chuột */
}
.arrow {
    margin-left: 5px; /* Thêm khoảng cách giữa văn bản và biểu tượng mũi tên */
    font-size: 12px;
    padding-top: 1px;
}

.sub-menu-item:hover {
    color: aquamarine; /* Màu khi trỏ chuột vào */;
}

.nav-item:hover .sub-menu {
    display: block;
}


/* Main Content */
main {
    width: 100%;

    background-color: #0D0942;
    padding: 20px;
}

.controller_main {
    display: flex;
    width: 86%;
    margin-left: 100px;
    padding-top: 50px;
}

.controller_film {
    width: 100%;
}

.film {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.column_left {
    width: 30%;
    padding-left: 50px;
}

.column_left img {
    width: 200px;
}

.column_right {
    padding-top: 10px;
    width: 70%;
    color: white;
    font-weight: 600;
}

.order img {
    width: 40px;
}

.order {
    display: flex;
    border-bottom: 1px solid #171E63;
    border-top: 1px solid #171E63;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}

.ticket {
    padding-right: 150px;
}

/* Media queries cho các kích thước màn hình khác nhau */
@media (max-width: 768px) {
    header {
        height: 10%;
    }
    .column_left {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    header {
        height: 8%;
    }
    .column_left img {
        width: 150px;
    }
    .ticket {
        padding-right: 100px;
    }
}

/* Định dạng nút "Trailer" */
.showTrailer {
    background-color: #007bff; /* Màu nền của nút */
    color: #fff; /* Màu chữ của nút */
    padding: 10px 20px; /* Kích thước và khoảng cách giữa chữ và biên nút */
    border: none; /* Loại bỏ viền */
    cursor: pointer; /* Biểu tượng con trỏ khi di chuột vào nút */
    border-radius: 5px; /* Bo tròn các góc của nút */
}

/* Định dạng div chứa iframe */
/* Định dạng div chứa iframe */
.videoContainer {
    position: fixed; /* Hiển thị div ở vị trí cố định trên trang web */
    top: 50%; /* Đặt top 50% để đưa ra giữa theo chiều dọc */
    left: 50%; /* Đặt left 50% để đưa ra giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch chuyển div ngược lại 50% chiều dọc và chiều ngang để căn giữa */
    width: 80%; /* Chiều rộng của iframe trong div */
    height: 80%; /* Chiều cao của iframe trong div */
    background-color: rgba(0, 0, 0, 0.8); /* Màu nền đục để tạo hiệu ứng mờ */
    display: none; /* Ẩn div ban đầu */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
}

/* Định dạng iframe */
.videoContainer iframe {
    width: 100%; /* Chiều rộng của iframe trong div */
    height: 100%; /* Chiều cao của iframe trong div */
    border: none; /* Loại bỏ viền của iframe */
}

/* Định dạng nút "Thoát" */
.closeVideo {
    position: absolute; /* Hiển thị nút "Thoát" ở vị trí tuyệt đối */
    top: 18px; /* Khoảng cách từ phía trên */
    right: 180px; /* Khoảng cách từ phía bên phải */
    background-color: #fff; /* Màu nền của nút */
    color: #0D0942; /* Màu chữ của nút */
    padding: 5px 10px; /* Kích thước và khoảng cách giữa chữ và biên nút */
    border: none; /* Loại bỏ viền */
    cursor: pointer; /* Biểu tượng con trỏ khi di chuột vào nút */
    border-radius: 5px; /* Bo tròn các góc của nút */
}
ion-icon {
    font-size: 24px;
    color: black;
}
