/* Thiết lập một biến màu chung */
:root {
    --primary-bg-color: #0D0942;
    --secondary-bg-color: #171E63;
    --text-color: white;
    --accent-color: chocolate;
}

/* CSS chung không phụ thuộc vào kích thước màn hình */

body {
    max-width: 1700px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    position: relative;
    display: flex;
    background-color: #0D0942;
    width: 100%;
    height: 16%;
    border-bottom: 1px solid #045050;
}

header .logo {
    position: absolute;
    width: 8%;
    display: flex;
    transform: translate(80%, 10%);
}

header .logo img {
    width: 100%;
}

header .toolbar {
    width: 70%;
    display: flex;
    margin-left: 200px;
    background-color: #0D0942;
    padding-left: 10px;
}

header .toolbar .navbar {
    background-color: #0D0942;
}

.toolbar ul li {
    margin-left: 40px;
}

.toolbar a {
    color: white;
    text-decoration: none;
}

.toolbar a:hover {
    color: aquamarine;
}

.navbar-nav .nav-item:last-child .nav-link {
    border: 1px solid black;
    border-radius: 50%;
    width: 150%;
    height: 100%;
    text-align: center;
    background: linear-gradient(to bottom, #ea70d6, transparent);
}

.navbar-nav .dropdown-item {
    color: #0D0942;
    font-weight: bold;
}
/* Phần main */

main {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-bg-color);
}

.controller_main {
    position: relative;
    display: flex;
    width: 86%;
    padding-left: 80px;
    padding-top: 50px;
}

main .main_left {
    padding-left: 30px;
    padding-top: 20px;
    width: 18%;
    height: 170px;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--primary-bg-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.main_left ul li {
    list-style: none;
    margin-bottom: 3px;
    border-bottom: 1px solid #045050;
}

.main_left ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.main_left ul li a:hover {
    color: var(--accent-color);
}


.main_left_item.active {
    color: var(--accent-color);
}

.main_right
{
    width: 75%;
    padding-left: 120px;
    margin-left: 50px;
}

.main_right h3 {
    border: 1px solid #045050;
    border-radius: 3px;
    padding: 3px 30px;
    color: white;
}
.main_right .info
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px 70px 20px 30px;
    border: 1px solid #0D0942;
    color: white;
    background-color: #171E63;
}

.main_right .info .column
{
    width: 40%;
}

.column p {
    border-bottom: 1px solid #0D0942;
}

.btnUpdate {
    background: linear-gradient(to top, #b941a5, transparent);
    color: white;
    border-radius: 30%;
    border: none;
    width: 50%;
    margin-left: 30px;
}

.btnUpdate:hover {
    background: linear-gradient(to top, #410436, transparent);
}

.ChangePass {
    text-decoration: none;
}

/* Media queries cho các kích thước màn hình khác nhau */
@media (max-width: 768px) {
    header {
        height: 10%;
    }
    .column_left {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    header {
        height: 8%;
    }
    .column_left img {
        width: 150px;
    }
    .ticket {
        padding-right: 100px;
    }
}
