* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Giúp tính toán kích thước chính xác hơn */
}

body {
    background-image: url('/static/image/login.png');
    width: 100vw; /* 100% chiều rộng của viewport */
    height: 100vh; /* 100% chiều cao của viewport */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex; /* Cho phép canh giữa nội dung */
    justify-content: center;
    /*align-items: center;*/
    padding-top: 4%;
}

.login {
    width: 33%;
    height: 80%;
    background-color: rgba(52, 152, 219, 0.25); /* Tăng độ mờ của nền */
    padding: 20px;
    border-radius: 10px; /* Bo tròn các góc */
    /*text-align: center; !* Canh giữa nội dung *!*/
    color: white;
}

.login h3 {
    text-align: center;
 font-size: 30px; /* Sử dụng đơn vị px thay vì pt */
    font-weight: bolder;
    padding-top: 10px;
}

.login .submit {
    text-align: center;
 padding-top: 20px; /* Điều chỉnh khoảng cách với nút đăng nhập */
}

.login .submit .btnSubmit {
    font-size: 18px; /* Tăng kích thước chữ */
    font-weight: bold; /* Đậm chữ */
    color: white;
    background-color: rgba(52, 152, 219, 0.3); /* Sử dụng màu đậm hơn */
    border:10pt rgba(52, 152, 219, 10);
    border-radius: 50%;
    padding: 10px 20px; /* Khoảng cách lề xung quanh nút */
    cursor: pointer; /* Biểu tượng con trỏ khi di chuyển vào nút */
}

.login .submit .btnSubmit:hover {
    background-color: rgba(52, 152, 219, 0.5); /* Độ mờ khi hover */
}

.login .signIn {
    padding-top: 20px;
}

.login .signIn a {
    font-size: 16px; /* Tăng kích thước chữ */
    margin: 0 15px;
    color: white; /* Màu chữ trắng */
    text-decoration: none; /* Loại bỏ gạch chân */
}

/* Tùy chỉnh các phần khác tùy theo ý muốn của bạn */
