<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thêm Khách hàng | Admin Web</title>
  <link rel="stylesheet" href="js/app.js">
  <link rel="shortcut icon" href="../../static/ImageAdmin/logo-mb.png" type="image/png">
  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- BOXICONS -->
  <link href="https://fonts.gstatic.com" rel="stylesheet">
  <link rel="stylesheet" href="../../static/css/cssAdmin/addCustomer.css">

</head>
<body>
<!-- SIDEBAR -->
<div class="sidebar">
  <div class="sidebar-logo">
    <!--    &lt;!&ndash; logo video &ndash;&gt;-->
    <!--    <a th:href="${home}"> <img src="../static/ImageAdmin/cinema_logo.jpg" alt="Comapny logo"></a>-->
    ADMIN WEB
    <!--    <div class="sidebar-close" id="sidebar-close">-->
    <!--      <i class='bx bx-left-arrow-alt'></i>-->
    <!--    </div>-->
  </div>
  <div class="sidebar-user">
    <div class="sidebar-user-info">
      <img src="../../static/ImageAdmin/user-image-2.png" alt="User picture" class="profile-image">
      <div class="sidebar-user-name">Admin</div>
    </div>
    <button class="btn btn-outline">
      <i class='bx bx-log-out bx-flip-horizontal'></i>
    </button>
  </div>
  <!-- SIDEBAR MENU -->
  <ul class="sidebar-menu">
    <span class="permanent">Quản trị</span>
    <li><a th:href="@{/admin}"> <i class='bx bx-home'></i> <span>quản trị</span> </a></li>
    <li><a th:href="@{/admin/staffList}" > <i class='bx bx-chart'></i> <span>tài khoản</span> </a></li>
    <li><a href="#" th:href="@{/admin/customerList}"  class="active"> <i class='bx bx-chart'></i> <span>khách hàng</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> thể loại </span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> tin tức </span> </a></li>

    <span class="permanent">Danh mục</span>
    <li><a href="#"> <i class='bx bx-shopping-bag'></i> <span>Rạp chiếu</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Phòng chiếu</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Ghế</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> Phim </span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> Dịch vụ </span> </a></li>

    <span class="permanent" >Nghiệp vụ</span>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Đặt vé</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> Lịch chiếu </span> </a></li>

    <span class="permanent" >Báo cáo - Thống kê</span>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Báo cáo</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Thống kê</span> </a></li>


    <!--    <li class="sidebar-submenu"><a href="#"-->
    <!--                                   class="sidebar-menu-dropdown"> <i class='bx bx-user-circle'></i>-->
    <!--      <span>account</span>-->
    <!--      <div class="dropdown-icon"></div>-->
    <!--    </a>-->
    <!--      <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
    <!--        <li><a href="#"> edit profile </a></li>-->
    <!--        <li><a href="#"> account settings </a></li>-->
    <!--        <li><a href="#"> billing </a></li>-->
    <!--      </ul></li>-->
    <!--    <li class="sidebar-submenu"><a href="#" class="sidebar-menu-dropdown"> <i class='bx bx-category'></i> <span>project</span>-->
    <!--      <div class="dropdown-icon"></div>-->
    <!--    </a>-->
    <!--      <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
    <!--        <li><a href="#"> list </a></li>-->
    <!--        <li><a href="#"> add project </a></li>-->
    <!--      </ul></li>-->
    <!--    <li class="sidebar-submenu"><a th:href="${adminProduct}" class="sidebar-menu-dropdown"> <i class='bx bx-category'></i> <span>Product</span>-->
    <!--      &lt;!&ndash; <div class="dropdown-icon"></div> &ndash;&gt;-->
    <!--    </a>-->
    <!--      <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
    <!--        <li><a href="#"> list product </a></li>-->
    <!--        <li><a href="#"> add product </a></li>-->
    <!--        <li><a href="#"> orders </a></li>-->
    <!--      </ul></li>-->
    <!--    <li><a href="#"> <i class='bx bx-mail-send'></i> <span>mail</span>-->
    <!--    </a></li>-->
    <!--    <li><a href="#"> <i class='bx bx-chat'></i> <span>chat</span>-->
    <!--    </a></li>-->
    <!--    <li><a href="#"> <i class='bx bx-calendar'></i> <span>calendar</span>-->
    <!--    </a></li>-->
    <!--    <li class="sidebar-submenu"><a href="#"-->
    <!--                                   class="sidebar-menu-dropdown"> <i class='bx bx-cog'></i> <span>settings</span>-->
    <!--      <div class="dropdown-icon"></div>-->
    <!--    </a>-->
    <!--      <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
    <!--        <li><a href="#" class="darkmode-toggle" id="darkmode-toggle">-->
    <!--          darkmode <span class="darkmode-switch"></span>-->
    <!--        </a></li>-->
    <!--      </ul></li>-->
  </ul>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
<main>
  <div class="box">

    <div class="box-body overflow-scroll">

      <div class="header-right">
        <img src="../../static/ImageAdmin/user-image-2.png" alt="admin-logo">
        <span class="header-text"> Admin</span>
      </div>
      <!--        <thead>-->
      <!--        <tr>-->
      <!--&lt;!&ndash;          <th>ID</th>&ndash;&gt;-->
      <!--&lt;!&ndash;          <th>User Name</th>&ndash;&gt;-->
      <!--&lt;!&ndash;          <th>Email</th>&ndash;&gt;-->
      <!--&lt;!&ndash;          <th>Password</th>&ndash;&gt;-->
      <!--&lt;!&ndash;          <th>Edit</th>&ndash;&gt;-->
      <!--          <th><img src="../static/ImageAdmin/user-image-2.png" alt=""> Delete</th>-->
      <!--        </tr>-->
      <!--        </thead>-->

      <!--      <table>-->
      <!--        <tbody>-->
      <!--        <th:forEach items="${UserList}" var="user">-->
      <!--          <tr>-->
      <!--            <td>${user.id}</td>-->
      <!--            <td>-->
      <!--              <div class="order-owner">-->
      <!--                <img src="../static/ImageAdmin/user-image-2.png"-->
      <!--                     alt="user image"> <span>${user.username}</span>-->
      <!--              </div>-->
      <!--            </td>-->
      <!--            <td>${user.email}</td>-->
      <!--            <td><span class="order-status order-ready"> ${user.password}-->
      <!--								</span></td>-->
      <!--            <td>-->
      <!--              <div class="payment-status payment-pending">-->
      <!--                <div class="dot"></div>-->
      <!--                <a href="#">Edit</a>-->
      <!--              </div>-->
      <!--            </td>-->
      <!--            <td><a href="#">Delete</a></td>-->
      <!--          </tr>-->
      <!--        </th:forEach>-->
      <!--        </tbody>-->
      <!--      </table>-->
      <div class="admin-taikhoan">
        <div class="taikhoan-header">
          <span class="text1">Phim</span>
          <span class="text2">Thêm phim</span>
        </div>
        <div class="taikhoan-body">

          <form class="form-containers"  th:action="@{/admin/addFilm}" method="POST" th:object="${films}">
            <input type="hidden" name="id" value="0">

            <div class="form-row" >
              <label for="name">Tên phim</label>
              <input type="text" id="name" name="nameFilm"  required th:text="*{nameFilm}" >
            </div>

            <div class="form-row" >
              <label for="category">Thể loại</label>

              <select id="category" name="category.idCategory" required th:field="*{categoryEntity}">
                <!-- Populate the options with cinema data -->
                <option th:each="category : ${categories}" th:value="${category.idCategory}" th:text="${category.nameCategory}"></option>
              </select>

              <!--              <input type="text" id="nameCinema" name="nameCinema" required th:text="*{cinemaEntity.getNameCinema()}">-->
            </div>

            <div class="form-row" >
              <label for="time">Thời lượng</label>
              <input type="text" id="time" name="time"   th:text="*{time}" >
            </div>

            <div class="form-row" >
              <label for="join_datepicker">Ngày khởi chiếu</label>
              <input type="date" class="showtime" placeholder="yyyy-MM-dd" id="join_datepicker" name="showtime" th:text="*{showtime}" >
            </div>

            <div class="form-row" >
              <label for="introduce">Giới thiệu</label>
              <input type="text" id="introduce" name="introduce"   th:text="*{introduce}" >
            </div>

            <div class="form-row" >
              <label for="trailer">Trailer</label>
              <input type="text" id="trailer" name="trailer"   th:text="*{trailer}">
            </div>

            <div class="form-row" >
              <label for="rating">Xếp hạng</label>
              <input type="text" id="rating" name="rating"   th:text="*{rating}" >
            </div>

            <div class="form-row" >
              <label for="image">Hình ảnh</label>
              <input type="text" id="image" name="imageFilm"   th:text="*{imageFilm}" >
            </div>

            <div class="form-row" >
              <label for="status">Trạng thái</label>
              <input type="text" id="status" name="status"   th:text="*{status}" >
            </div>

            <input type="submit" value="Lưu" class="submit">

          </form>

        </div>
      </div>
    </div>
  </div>
</main>
</body>