<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách Thể loại | Admin Web</title>
  <link rel="stylesheet" href="js/app.js">
  <link rel="shortcut icon" href="../../static/ImageAdmin/logo-mb.png" type="image/png">
  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- BOXICONS -->
  <link href="https://fonts.gstatic.com" rel="stylesheet">
  <!--  <link rel="stylesheet" href="../../static/css/cssAdmin/addCustomer.css">-->
  <link rel="stylesheet" href="../../static/css/cssAdmin/adminCategory.css">

</head>
<body>
<!-- SIDEBAR -->
<div class="sidebar">
  <div class="sidebar-logo">
    ADMIN WEB
  </div>
  <div class="sidebar-user">
    <div class="sidebar-user-info">
      <img src="../../static/ImageAdmin/user-image-2.png" alt="User picture" class="profile-image">
      <div class="sidebar-user-name">Admin</div>
    </div>
    <button class="btn btn-outline">
      <i class='bx bx-log-out bx-flip-horizontal'></i>
    </button>
  </div>
  <!-- SIDEBAR MENU -->
  <ul class="sidebar-menu">
    <span class="permanent">Quản trị</span>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>quản trị</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>tài khoản</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> khách hàng </span> </a></li>
    <li><a href="#" class="active"> <i class='bx bx-home'></i> <span>thể loại</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> tin tức </span> </a></li>

    <span class="permanent">Danh mục</span>
    <li><a href="#"> <i class='bx bx-shopping-bag'></i> <span>Rạp chiếu</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Phòng chiếu</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Ghế</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> Phim </span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> Dịch vụ </span> </a></li>

    <span class="permanent" >Nghiệp vụ</span>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Đặt vé</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span> Lịch chiếu </span> </a></li>

    <span class="permanent" >Báo cáo - Thống kê</span>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Báo cáo</span> </a></li>
    <li><a href="#"> <i class='bx bx-chart'></i> <span>Thống kê</span> </a></li>

  </ul>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
<main>
  <div class="box">

    <div class="box-body overflow-scroll">

      <div class="header-right">
        <img src="../../static/ImageAdmin/user-image-2.png" alt="admin-logo">
        <span class="header-text"> Admin</span>
      </div>
      <div class="admin-taikhoan">
        <div class="taikhoan-header">
          <span class="text1">Phim</span>
          <span class="text2">Danh sách phim</span>
        </div>
        <div class="taikhoan-body">
          <div class="search">
            <form action="/admin/film-search" method="get">
              <input type="text" name="name_film" id="search" placeholder="Tìm kiếm...">
              <button type="submit">Tìm Kiếm</button>
              <a th:href="@{/admin/addFilmPage}" class="addStaff">Thêm </a>
            </form>
          </div>

          <table>
            <tbody>
            <tr class="headline">
              <td>Hình ảnh</td>
              <td>Tên phim</td>
              <td>Thể loại</td>
              <td>Thời lượng</td>
              <td>Ngày khởi chiếu</td>
              <td>Ngày kết thúc</td>
              <td>Giới thiệu</td>
              <td>Trailer</td>
              <td>Xếp hạng</td>
              <td>Trạng thái</td>
              <td>Giá phim</td>
              <td></td>
            </tr>
            <tr class="film" th:each="film:${films}">
              <td> <img class="img-film" th:src="@{'/images/' + ${film.imageFilm}}" alt="java"> </td>
              <td th:text="*{film.nameFilm}"></td>
              <td th:text="*{film.categoryEntity.nameCategory}"></td>
              <td th:text="*{film.time}"></td>
              <td th:text="*{film.dateStart}"></td>
              <td th:text="*{film.dateEnd}"></td>
              <td th:text="*{film.introduce}"></td>
              <td th:text="*{film.trailer}"></td>
              <td th:text="*{film.rating}"></td>
<!--          <td th:text="*{film.status}"></td>-->
              <td>
                <span th:if="${T(java.time.LocalDate).now().isBefore(film.dateStart)}">Sắp chiếu</span>
                <span th:if="${T(java.time.LocalDate).now().isAfter(film.dateEnd)}">Đã chiếu</span>
                <span th:if="${T(java.time.LocalDate).now().isEqual(film.dateStart) or T(java.time.LocalDate).now().isAfter(film.dateStart) and T(java.time.LocalDate).now().isBefore(film.dateEnd) or T(java.time.LocalDate).now().isEqual(film.dateEnd)}">Đang chiếu</span>

              </td>
              <td th:text="*{film.price}"></td>
              <td class="payment-status payment-pending">
                <a class="edit" th:href="@{/admin/editFilm/{id}(id=${film.idFilm})}">Cập nhập</a>
                <a class="delete" th:href="@{/admin/deleteFilm/{id}(id=${film.idFilm})}">Xóa</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
</body>