<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mua Đồ Uống</title>
  <link rel="stylesheet" href="../../static/css/cssCustomer/buyPopcorn.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <div class="logo">
    <img src="../../static/image/logo.png">
  </div>

  <div class="toolbar">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PHIM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">RẠP CHIẾU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TIN TỨC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LIÊN HỆ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                XIN CHÀO : SUONGCHAN
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/customer/info">TÀI KHOẢN</a></li>
                <li><a class="dropdown-item" th:href="@{/perform_logout}">ĐĂNG XUẤT</a></li>
              </ul>
            </li>

          </ul>

        </div>
      </div>
    </nav>
  </div>
</header>

<main>
  <div class="container_checkout">
    <p id="seatHoldingTime">01:00</p>
  </div>
  <div class="controller_main">
    <div class="main_left">
      <h3>CHÚNG TÔI CÓ ĐỒ ĂN</h3>
      <h5>Đặt trước đồ ăn của bạn và tiết kiệm hơn</h5>
      <div class="container_item">
      <span class="item">
      <ul class="service" th:each="service : ${services}">
        <li>
          <img src="../../static/image/corn.png">
        </li>
        <li>
          <p class="service_name" th:text="${service.nameService}"></p>
        </li>
        <li>
         <p class="service_price" th:text="${service.price}"></p>
        </li>
       <li>
          <span>
            <input class="numberService" type="number" value="1" min="1">
          </span>
          <span>
            <input class="addService addServiceButton" type="button" value="THÊM">
          </span>
        </li>
      </ul>
        </span>

      </div>
    </div>

    <div class="main_right">
      <h3>THANH TOÁN</h3>
      <h3 th:text="${showtime.filmEntity.nameFilm}"></h3>
      <span th:text="${showtime.cinemaEntity.nameCinema}"></span>
      <span th:text="${showtime.cinemaRoomEntity.nameCinemaRoom}"></span>
      <span class="ticket" id="ticket">2 Vé</span>
      <h4 class="nameChair" id="nameChair"></h4>
      <p class="selectedChair" id="selectedChair"></p>
      <h4 th:text="${showtime.dateShow} + ', '+ ${showtime.start}"></h4>
      <h3 class="total" id="total" ></h3>
      <span class="checkout_numberService" id="checkoutNumberService"></span>
      <span class="checkout_nameService" id="checkoutNameService"></span>
      <span class="priceService"></span>
      <h4 class="total_price"></h4>
      <div id="showtimeId" th:data-id="${showtime.idShow}">
        <input id="confirmCheckout" class="confirm_checkout" type="button" value="XÁC NHẬN">
      </div>
    </div>
  </div>

  <script>
    // Lấy giá trị từ query string
    var urlParams = new URLSearchParams(window.location.search);
    var selectedChairText = document.getElementById("selectedChair");
    console.log(selectedChairText)
    var tongTien = urlParams.get("tongTien");
    var soGheDaChon = urlParams.get("soGheDaChon");
    var selectedChairs = urlParams.get("selectedChairs"); // Add this line to get soGheDaChon

    // Cập nhật nội dung của phần tử "total"
    var totalElement = document.getElementById("total");
    totalElement.textContent = "Tổng Tiền: " + tongTien + " VNĐ";
    console.log(tongTien);



    // Cập nhật nội dung của phần tử "ticket" with the value of soGheDaChon
    var ticketElement = document.getElementById("ticket");
    ticketElement.textContent = soGheDaChon + " Vé"; // Display soGheDaChon value

    var nameChairElement = document.getElementById("nameChair");
    nameChairElement.textContent = selectedChairs + " ";

    var priceService = document.querySelector(".priceService");
    priceService.textContent = "0 VNĐ";

    var showtimeId = document.getElementById("showtimeId").getAttribute("data-id");
    var seatHoldingTimeElement = document.getElementById("seatHoldingTime");

    // Lấy giá trị thời gian đếm ngược từ sessionStorage, mặc định là 180 giây nếu không tìm thấy
    var countdownSeconds = parseInt(localStorage.getItem("countdownSeconds")) || 60;

    // Cập nhật hiển thị ban đầu
    updateCountdownDisplay();

    // Bắt đầu đếm ngược
    var countdownTimer = setInterval(function() {
      if (countdownSeconds > 0) {
        countdownSeconds--;
        updateCountdownDisplay();
      } else {
        clearInterval(countdownTimer);
        console.log("Thời gian đã hết!");
        window.location.href = '/customer/listChair/' + showtimeId // Thay yourShowtimeId bằng id thích hợp
      }
    }, 1000);

    // Hàm cập nhật hiển thị thời gian
    function updateCountdownDisplay() {
      var minutes = Math.floor(countdownSeconds / 60);
      var seconds = countdownSeconds % 60;

      minutes = String(minutes).padStart(2, '0');
      seconds = String(seconds).padStart(2, '0');

      seatHoldingTimeElement.textContent = minutes + ":" + seconds;

      // Lưu thời gian đếm ngược vào sessionStorage
      localStorage.setItem("countdownSeconds", countdownSeconds.toString());
      if (countdownSeconds === 0) {
        seatHoldingTimeElement.style.display = 'none';
      }
    }


    // Khai báo biến selectedServices và khởi tạo là một mảng rỗng
    var selectedServices = [];

    // Sử dụng một sự kiện click listener cho tất cả các nút "THÊM"
    var addServiceButtons = document.querySelectorAll(".addServiceButton");

    addServiceButtons.forEach(function(button) {
      button.addEventListener("click", function() {
        // Lấy thông tin về dịch vụ tương ứng với nút đã nhấp
        var container = button.closest(".service");
        var serviceName = container.querySelector(".service_name").textContent;
        var servicePrice = container.querySelector(".service_price").textContent;
        var serviceQuantity = container.querySelector(".numberService").value;

        // Tạo một đối tượng dịch vụ
        var service = {
          name: serviceName,
          price: parseFloat(servicePrice),
          quantity: parseInt(serviceQuantity)
        };

        // Lưu trữ thông tin dịch vụ trong mảng selectedServices
        selectedServices.push(service);

        // Cập nhật thông tin dịch vụ trong các phần tử HTML tương ứng
        updateCheckoutInformation(selectedServices);
      });
    });

    // ... (Phần code trước đó ở trên)

    // Hàm để cập nhật thông tin dịch vụ trong các phần tử HTML
    function updateCheckoutInformation(services) {
      var checkoutNumberService = document.querySelector(".checkout_numberService");
      var checkoutNameService = document.querySelector(".checkout_nameService");
      var priceService = document.querySelector(".priceService");

      // Xóa nội dung cũ trước khi cập nhật lại
      checkoutNumberService.innerHTML = "";
      checkoutNameService.innerHTML = "";
      priceService.innerHTML = "";

      // Tạo một đối tượng để lưu trữ thông tin dịch vụ và tổng giá của mỗi dịch vụ
      var serviceSummary = {};

      // Duyệt qua mảng selectedServices để tính tổng giá của từng loại dịch vụ
      services.forEach(function(selectedService) {
        var serviceName = selectedService.name;
        var servicePrice = selectedService.price * selectedService.quantity;

        if (!serviceSummary[serviceName]) {
          serviceSummary[serviceName] = {
            quantity: selectedService.quantity,
            totalPrice: servicePrice
          };
        } else {
          serviceSummary[serviceName].quantity += selectedService.quantity;
          serviceSummary[serviceName].totalPrice += servicePrice;
        }
      });

      // Duyệt qua các dịch vụ đã tính tổng giá và hiển thị thông tin
      for (var serviceName in serviceSummary) {
        var serviceInfo = serviceSummary[serviceName];

        var infoLine = document.createElement("span");
        infoLine.textContent = "Số lượng: " + serviceInfo.quantity + " Dịch vụ: " + serviceName + " Giá: " + serviceInfo.totalPrice + " VNĐ";

        checkoutNumberService.appendChild(infoLine);

        // Thêm một dòng trống sau mỗi dòng thông tin
        checkoutNumberService.appendChild(document.createElement("br"));
      }

      // Tính tổng giá trị dịch vụ
      var totalServicePrice = 0;
      services.forEach(function(selectedService) {
        totalServicePrice += selectedService.price * selectedService.quantity;
      });

      // Cộng tổng giá trị dịch vụ với tổng giá trị (total) và gán vào phần tử "total_price"
      var totalElement = document.querySelector(".total");
      var totalValue = parseInt(tongTien); // Tổng tiền từ query string
      var totalPriceElement = document.querySelector(".total_price");
      totalPriceElement.textContent = "THANH TOÁN: " + (totalValue + totalServicePrice) + " VNĐ";
    }


    var confirmCheckoutButton = document.getElementById("confirmCheckout");
    // var showtimeId = document.getElementById("showtimeId").getAttribute("data-id");
    confirmCheckoutButton.addEventListener("click", function() {
      // Lấy các giá trị từ các phần tử HTML và sessionStorage
      sessionStorage.setItem("selectedChairs", selectedChairs);
      sessionStorage.setItem("ticket", document.getElementById("ticket").textContent);
      sessionStorage.setItem("nameChair", document.getElementById("nameChair").textContent);
      sessionStorage.setItem("checkoutNumberService", document.querySelector(".checkout_numberService").textContent);
      sessionStorage.setItem("checkoutNameService", document.querySelector(".checkout_nameService").textContent);
      console.log("dkjhgkjdk")
      console.log(nameChair)
      console.log(checkoutNameService)
      console.log(checkoutNumberService)
      sessionStorage.setItem("priceService", document.querySelector(".priceService").textContent);
      sessionStorage.setItem("totalPrice", document.querySelector(".total_price").textContent);

      // Tạo URL trang checkout với các tham số
      var checkoutURL = "/customer/checkout/" + showtimeId;
      window.location.href = checkoutURL;
    });

  </script>
</main>
</body>
</html>
