<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mua Vé</title>
  <link rel="stylesheet" href="../../static/css/cssCustomer/buyTicket.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div class="background">
  <header>
    <div class="logo">
      <img src="../../static/image/logo.png">
    </div>
    <div class="toolbar">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">TRANG CHỦ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">PHIM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">RẠP CHIẾU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TIN TỨC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LIÊN HỆ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  XIN CHÀO : SUONGCHAN
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/customer/info">TÀI KHOẢN</a></li>
                  <li><a class="dropdown-item" th:href="@{/perform_logout}">ĐĂNG XUẤT</a></li>
                </ul>
              </li>

            </ul>

          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="controller_main">
      <div class="controller_film">
        <div class="film">
            <h3 th:text="${films.nameFilm}"></h3>
              <p th:text="${films.categoryEntity.nameCategory}"></p>
              <div class="date_Time">
           <span class="date">
            <img src="../../static/image/date.png">
             <p th:text="${films.dateStart}"></p>
           </span>
                <span>
            <img src="../../static/image/time.png">
            <p th:text="${films.dateEnd}">
           </span>
              </div>
        </div>
      </div>
    </div>
  </main>
</div>
<nav>
  <div class="controller_ciname">
  <div class="cinema">
    <span>
      <img src="../../static/image/cinema.png"/>
         RẠP PHIM
    </span>
    <span>
      <li class="nav-item dropdown">
                <select id="nameCinema" name="cinema.idCinema" th:field="*{cinemas}" required>
                <!-- Populate the options with cinema data -->
                <option th:each="cinema : ${cinemas}" th:value="${cinema.idCinema}" th:text="${cinema.nameCinema}"></option>
              </select>
      </li>
    </span>
  </div>
    <div class="container_showtime">
      <div class="showtime">
        <div class="column column_left">
          <div class="dateTime" th:each="showtime : ${showtimes}">
          <span class="date">
            <img src="../../static/image/date.png">
            <p th:text="${showtime.dateShow}"></p>
          </span>
<!--          <input type="button" class="time" th:value="${}" >-->

          </div>
        </div>
        <div class="column column_right">
          <img src="../../static/image/bgDetailFilm.png">
        </div>
      </div>
    </div>
  </div>
</nav>

</body>
</html>