<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Phim</title>
  <link rel="stylesheet" href="../../static/css/cssCustomer/film.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
  <div class="logo">
    <img src="../../static/image/logo.png">
  </div>

  <div class="container_toolbar">
    <div class="toolbar">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a th:href="@{/}" class="nav-link" aria-current="page" href="#" >TRANG CHỦ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">PHIM</a>  <a class="nav-link" href="#">PHIM <span class="arrow">▼</span></a>
                <ul class="sub-menu">
                  <li><a class="sub-menu-item" th:href="@{/film/dang-chieu}">PHIM ĐANG CHIẾU</a></li>
                  <li><a class="sub-menu-item" th:href="@{/film/sap-chieu}">PHIM SẮP CHIẾU</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">RẠP CHIẾU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TIN TỨC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LIÊN HỆ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  XIN CHÀO : SUONGCHAN <span class="arrow">▼</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/customer/info">TÀI KHOẢN</a></li>
                  <li><a class="dropdown-item" th:href="@{/perform_logout}">ĐĂNG XUẤT</a></li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<main>
  <h4 class="filmDC">PHIM ĐANG CHIẾU</h4>
  <div class="controller_main">
    <div class="controller_film">
      <div class="film" th:each=" f : ${filmDC}">
            <a th:href="@{'/film/detail/' + ${f.idFilm}}">
                <div class="image-container">
                  <img th:src="@{'/images/' + ${f.imageFilm}}" alt="java">
                  <div class="play-button">Xem chi tiết</div>
                </div>
                <h5 th:text="${f.nameFilm}"></h5>
            </a>

      </div>
    </div>
  </div>
  </div>
  </div>
</main>
      <script>
        $(document).ready(function() {

          // Show the video container when "Trailer" button is clicked
          $('.showTrailer').on('click', function() {
            $(this).siblings('.videoContainer').show();
          });

          // Hide the video container when "Thoát" button is clicked
          $('.closeVideo').on('click', function() {
            $(this).closest('.videoContainer').hide();
          });

        });
      </script>

      <script>
        const phimDC = document.getElementById("phimDC");
        const phimSC = document.getElementById("phimSC");

        // Lắng nghe sự kiện click trên liên kết "PHIM"
        document.querySelector("a.nav-link[href='#']").addEventListener("click", function (event) {
          event.preventDefault(); // Ngăn chuyển hướng mặc định

          // Kiểm tra trạng thái hiển thị của "PHIM DC"
          if (phimDC.style.display === "none") {
            phimDC.style.display = "block";
            phimSC.style.display = "block";
          } else {
            phimDC.style.display = "none";
            phimSC.style.display = "none";
          }
        });
      </script>

</body>
</html>
