@charset "ISO-8859-1";
:root {
    --body-bg: #fafafb;
    --box-bg: #ffffff;
    --main-color: #20acac;
    --text-color: #455560;
    --text-second-color: #72849ab3;
    --border-color: #e9e9e9;
    --menu-item-active-bg: rgba(62, 121, 247, 0.1);

    --box-border-radius: 15px;
    --sidebar-size: 300px;
    --sidebar-logo-img-size: 80px;
    --sidebar-logo-size: 30px;
    --profile-image-size: 45px;
    --main-header-height: 80px;
    --shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
    --darkmode-toggle-size: 20px;
}

.dark {
    --body-bg: #1a191f;
    --box-bg: #1a191f;
    --border-color: #222028;
    --text-color: #b9b9b9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    position: relative;
}

a {
    text-decoration: none;
    color: white ;
    display: inline-block;
}

.sidebar {
    background-color: var(--box-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-size);
    height: 100vh;
    box-shadow: var(--shadow);
    overflow-y: auto;
}

.dark .sidebar {
    border-right: 2px solid var(--border-color);
}

.sidebar-logo {
    height: var(--sidebar-logo-size);
    position: relative;
    padding: 5px 5px;
    padding-top: 10px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    background-color: RGB(62,124,173);
    color: #ffffff;
    height: 60px;
}

.sidebar-logo img {
    height: var(--sidebar-logo-img-size);
    max-width: 100%;
}

.sidebar-close {
    display: none;
}

.sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: RGB(34,45,51);
}

.sidebar-user-info {
    display: flex;
    align-items: center;
}

.sidebar-user-name {
    margin-left: 10px;
    font-size: 1.50rem;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.profile-image {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 10px;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--main-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.btn i {
    font-size: 1.25rem;
}

.btn-outline {
    border: 2px solid var(--main-color);
    transition: background-color 0.2s ease-in-out;
    background-color: lime;
}

.sidebar-menu {
    padding: 10px 0;
    list-style-type: none;
    background-color: RGB(34,45,51);
}

.sidebar-menu span{
    width: 100%;
    padding: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
}

.permanent{
    background-color: RGB(29,33,39);
    color: #236377;
}

.sidebar-menu > li > a {
    width: 100%;
    padding: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
}

.sidebar-menu > li > a.active {
    background-color: var(--menu-item-active-bg);
    color: var(--main-color);
    border-right: 4px solid var(--main-color);
}

.sidebar-menu > li > a:hover {
    color: var(--main-color);
    background-color: RGB(50,58,72);
}

.sidebar-menu > li > a > i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.sidebar-menu-dropdown {
    position: relative;
}

.sidebar-menu-dropdown .dropdown-icon {
    position: absolute;
    right: 15px;
}

.dropdown-icon {
    --size: 15px;
    --color: var(--text-color);
    height: var(--size);
    width: var(--size);
    position: relative;
    cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
    --height: 2px;
    content: "";
    width: 50%;
    height: var(--height);
    border-radius: 2.5px;
    position: absolute;
    top: calc(50% - var(--height) / 2);
    background-color: var(--color);
    transition: transform 0.3s ease;
}

.dropdown-icon::before {
    left: calc(50% - var(--height) / 3);
    transform-origin: center left;
    transform: rotate(-45deg);
}

.dropdown-icon::after {
    right: calc(50% - var(--height) / 3);
    transform-origin: right;
    transform: rotate(45deg);
}

.dropdown-icon.active::before {
    transform: rotate(45deg);
}

.dropdown-icon.active::after {
    transform: rotate(-45deg);
}

.sidebar-menu > li > a:hover > .dropdown-icon {
    --color: var(--main-color);
}

.sidebar-menu-dropdown-content {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

.sidebar-menu-dropdown-content > li > a {
    padding-left: 50px;
}

.darkmode-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darkmode-switch {
    --height: var(--darkmode-toggle-size);
    --width: calc(var(--height) * 2);
    height: var(--height);
    width: var(--width);
    border-radius: calc(var(--height) / 2);
    background-color: #f5f6fa;
    position: relative;
}

.darkmode-switch::before {
    content: "";
    --height: 20px;
    --main-color: #19a4a0;
    width: var(--height);
    height: var(--height);
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: left 0.3s ease-in-out;
}

.darkmode-switch.active::before {
    left: 50%;
}

.main {
    /* width: 200px; */
    padding-left: var(--sidebar-size);
}

/*.main-header {*/
/*    height: var(--main-header-height);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 20px;*/
/*    background-color: var(--box-bg);*/
/*    box-shadow: var(--shadow);*/
/*}*/

.dark .main-header {
    border-bottom: 2px solid var(--border-color);
}

.mobile-toggle {
    display: none;
}

.main-title {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.main-content {
    padding: 20px;
}

.order-owner {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
}

.order-owner img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.header-right{
    width: 100%;
    background-color: RGB(69,137,192);
    color: #fff;
    text-align: right;
    padding-right: 30px;
    /*box-sizing: border-box;*/
    padding-bottom: 9px;
    padding-top: 3px;
}

.header-text{
    font-size: 20px; /* Kích th??c ch? */
    font-weight: bold;
}

.header-right img {
    width: 35px; /* ??t chi?u r?ng c?a hình ?nh */
    height: auto; /* ?? t? l? khung hình ?nh t? ?i?u ch?nh */
    margin-right: 3px; /* ?? t?o kho?ng cách gi?a hình ?nh và v?n b?n "Admin" */
    margin-top: 8px;
}

.admin-taikhoan{
    background-color: RGB(236,240,246);
    height: 808px;
}
.taikhoan-header {
    padding-left: 330px;
}
.taikhoan-body{
    padding-left: 50px;
    margin-left: 315px;
    background-color: white;
    width: 80%;
    height: auto;
}
.text1{
    font-size: 35px;
}
.text2{
    font-size: 20px;
    margin-left: 15px;
}.search{
     padding-top: 20px;
 }
.search input{
    width: 40%;
    height: 35px;
}
#searchButton{
    margin-left: 20px;
    width: 80px;
    height: 27px;
    background-color: #19a4a0;
    border-color:#19a4a0;
    border-radius:3px;
    color: white;
}
#addTaikhoan{
    width: 70px;
    height: 27px;
    background-color: #028836;
    border-color:#028836;
    border-radius:3px;
    color: white;
}



table {
    width: 100%;
    min-width: 1000px;
    margin-left: 5px;
    border-collapse: collapse; /* Xóa kho?ng tr?ng gi?a các c?t */
}

.delete{
    background-color: #f90404;
    color: white;
    padding: 3px 7px;
    border-radius: 5px;
    display: inline-block;
}
table td a:hover{
    background-color: #fb7b7b;
}
/*table thead {*/
/*    background-color: RGB(69,137,192) ;*/
/*}*/

/*table thead tr {*/
/*    text-align: right;*/
/*}*/

table th,td {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}
.headline{
    margin-left: 5px;
    font-weight: bold;
}

.order-status {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.order-ready {
    color: #2a59d1;
    background-color: rgba(62, 121, 247, 0.1);
}

.order-shipped {
    color: #00ab6f;
    background-color: rgba(4, 209, 130, 0.1);
}

.payment-status {
    display: inline-block;
    /*align-items: center;*/

}

.payment-status a{
    background-color: #04d182;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
}
.payment-status a:hover{
    background-color: #42f4b0;
}

.overflow-scroll {
    overflow-y: auto;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay.active {
    display: block;
}
.form-containers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

.form-row {
    display: flex;
    flex-direction: column; /* ??m b?o các input n?m th?ng m?t c?t */
    margin-bottom: 10px;
}

label {
    display: flex;
    text-align: right; /* C?n ch?nh label sang ph?i */
}
.form-row input
{
    display: flex;
}



@media only screen and (max-width: 1280px) {
    .sidebar {
        transition: transform 0.3s ease-in-out;
        max-width: 100%;
        z-index: 99;
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .main {
        clear: both;
        /* padding-left: 0; */
    }

    .mobile-toggle,
    .sidebar-close {
        display: grid;
        place-items: center;
        font-size: 2rem;
        margin-right: 30px;
        cursor: pointer;
    }

    .sidebar-close {
        position: absolute;
        right: -15px;
    }
}
